/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --fg: rgba(255, 255, 255, 0.87);
  --fg-2: rgba(255, 255, 255, 0.75);
  --fg-3: rgba(255, 255, 255, 0.65);
  --fg-4: rgba(255, 255, 255, 0.6);
  --fg-5: rgba(255, 255, 255, 0.4);
  --fg-6: rgba(255, 255, 255, 0.25);
  --bg: #111;
  --bg-2: #151515;
  --bg-3: #242424;
  --bg-4: #303030;
  --accent: #f9d2ff;

  font-family: "Noto serif", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (min-width: 800px) {
    // On larger screens larger font size makes it better
    font-size: 18px;
    line-height: 26px;
  }
}

.blog-post {
  color: var(--fg-2);
}

h1, h2, h3, h4, h5, h6, .menu a {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.active {
  text-decoration: underline;
}

.btn {
  border: solid 1px var(--fg-3);
  padding: .5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-accent {
  color: var(--accent);
  &:hover {
    color: var(--bg-2);
    background-color: var(--accent);
  }
}

.layout-main > * {
  width: 100%;
}

.reading-width {
  max-width: min(100%, 1200px);
}

.post-content * {
  word-wrap: break-word;
}
.post-content {
  code, pre {
    background-color: var(--bg-4);
    font-family: Consolas, 'Courier New', Courier, monospace;
    overflow: auto;
  }

  :not(pre) code {
    padding: .1em .2em;
    border-radius: 10px;
  }
  pre {
    padding: .4em .6em;
  }

  blockquote {
    border-left: solid 4px var(--fg-5);
    color: var(--fg-4);
    margin-left: 0;
    padding-left: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
  }

  img {
    max-width: 100%;
  }
}

select {
  background-color: transparent;
  color: var(--fg-2);
  border: 1px solid var(--fg-3);
}

input, textarea {
  background-color: transparent;
  color: var(--fg-2);
  border: 1px solid var(--fg-3);
}

input[type=number] {
  appearance: textfield;
}

input:disabled {
  color: var(--fg-6);
  border-color: var(--fg-6);
  cursor: not-allowed;
}

.ng-dirty.ng-invalid {
  border-color: crimson;
}
