/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --fg: rgba(255, 255, 255, 0.87);
  --fg-2: rgba(255, 255, 255, 0.7);
  --fg-3: rgba(255, 255, 255, 0.65);
  --fg-4: rgba(255, 255, 255, 0.4);
  --bg: #111;
  --bg-2: #151515;
  --bg-3: #242424;
  --accent: #f9d2ff;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.layout-main > * {
  width: 100%;
}

.reading-width {
  max-width: min(100%, 1200px);
}

.post-content * {
  word-wrap: break-word;
}
